@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.hero {
  height: 100vh;
  background-image: url("./images/bg-image.jpeg");
  background-size: cover;
  background-position: center;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: large;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #877b7b;
}

.logo {
  text-align: center;
  color: white;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 3px;
}

.hero-content {
  text-align: left;
  margin-top: 200px;
  margin-left: 80px;
}

.season {
  color: #7d554c; /* Brown tone — adjust as needed */
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
}

.tagline {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #7d554c;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.btn.secondary {
  background-color: #a9a09b;
  color: #7d554c;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid white;
}

.btn:hover {
  opacity: 0.85;
}
